rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Caught-all default-deny catch-all
    match /{document=**} {
      allow read, write: if false;
    }

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == "basim5252@gmail.com" &&
        request.auth.token.email_verified == true
      );
    }

    // Admins Collection
    match /admins/{adminId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
  }
}
